## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---

## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

`print`

Returns the data type of an object. 
How you format python code in Markdown.

```python
type(object)
```

### Examples

In [2]:
type(123)

int

In [4]:
type('Hello')

str

In [5]:
type(True)

bool

In [3]:
type(123.0)

float

In [6]:
type(False)

bool

In [7]:
type('True')

str

---

## Variables

### Assigning a variable

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [11]:
favorite_number = 17
n = favorite_number + 7

In [13]:
print(favorite_number)
print(n)

17
24

#### Example: Running a cell multiple times

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

### Operations with strings

### Examples

### Formatting strings

### Examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [16]:
s = 'Hello, world!'

In [17]:
s.lower()

'hello, world!'

In [18]:
print(s)

Hello, world!

---

## Lists

### Creating a list

### List comprehensions

### List Operations

In [19]:
numbers = [1, 2, 3]

In [20]:
## Add 4 to the List
numbers.append(4)
numbers

[1, 2, 3, 4]

In [21]:
## Removes last value in the List
numbers.pop()
numbers

[1, 2, 3]

In [23]:
## Index 
numbers[2]
## Length is index -1

3

In [24]:
## Slice = Range
numbers[:2]
## 0, 1 = 1, 2

[1, 2]

In [25]:
## Range with Letters
letters = ['a','b','c','d','e']
len(letters)

5

In [29]:
# 0, 1, 2 = a, b, c
letters[:2]

['a', 'b']

In [31]:
## Converting to a List

list('abcd ef')

['a', 'b', 'c', 'd', ' ', 'e', 'f']

In [32]:
## Converting a range function to a List
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# Map - Applying information to a objects.
my_numbers = [1, 2, 3]
list(map(str, my_numbers))

## map(function, variable)

['1', '2', '3']

---

## Tuples

In [ ]:
## Immutable List, Cannot be changed, but elements can be accessed
my_tuple = (1, 2, 3)

In [ ]:
type(my_tuple)

In [ ]:
my_tuple[2]


---

## Dictionaries

In [45]:
my_dictionary = {
    
    'key':'value'
    
}

In [46]:
my_dictionary

{'key': 'value'}

### Creating a dictionary

In [47]:
dict(key = 'value')

{'key': 'value'}

### Accessing dictionary values

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [52]:
first_number = input('What is the first number?')
second_number = input('What is the second number?')

What is the first number? 10
What is the second number? 30

In [53]:
sum_numbers = first_number + second_number

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```